@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@900&family=Roboto&family=Tilt+Prism&family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .headerM {
    font-size: 32px;
    line-height: 150%;
    @apply font-instrument  font-semibold !important;
  }
}

@layer components {
  .headerS {
    font-size: 16px;
    line-height: 150%;
    @apply font-instrument font-semibold !important
  }
}

@layer components {
  .bodyM {
    font-size: 16px;
    line-height: 150%;
    @apply font-instrument;
  }
}

@layer components {
  .bodyS {
    font-size: 12px;
    line-height: 150%;
    @apply font-instrument;
  }
}

@layer components {
  .buttonPrimaryDefault {
    @apply py-2 px-16 headerS text-white bg-strongPurple rounded-md hover:bg-midPurple;
  }
}

@layer components {
  .buttonPrimaryDisabled {
    @apply py-2 px-16 headerS text-white bg-midPurple rounded-md;
  }
}

@layer components {
  .buttonSecondaryDefault {
    @apply py-2 px-16 headerS text-strongPurple bg-lightGray rounded-md border border-strongPurple hover:bg-midPurple;
  }
}

@layer components {
  .buttonSecondaryDisabled {
    @apply py-2 px-16 headerS text-midPurple bg-lightGray rounded-md border border-midPurple;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
